# 고급 인덱싱

- df.loc\[행, 열\]: 라벨값(문자열) 인덱싱
- df.iloc\[행, 열\]: 정수 인덱싱

## loc

In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [10]:
# 행 인덱스를 하나 주면, 시리즈로 나온다
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [11]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [12]:
# 중첩리스트로도 줄 수 있음
df.loc[["b","c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [14]:
# 객체처럼 점 찍어서 열 끄집어 낼 수 있음
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [16]:
# 하나 나올지 두개 나올지 모르니까 데이터프레임으로 나옴
df[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [19]:
# 안됨. 왜? loc는 행 인덱스가 먼저 나오잖아
df.loc["A"]

KeyError: 'A'

In [18]:
# 열을 뽑겠다고 하면 원래 인덱스방법을 쓰면 됨
df["A"]

a    10
b    14
c    18
Name: A, dtype: int32

In [21]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [23]:
# 일케되면 파이썬에서는 3이 나오지 말아야 하는데 일케되면 나오네?
df2.loc[1:3]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [24]:
# 행과 열 모두 인덱싱하기
df.loc["a", "A"]

10

In [27]:
df.loc["b", "A":"B"]

A    14
B    15
Name: b, dtype: int32

## iloc

정수로 인덱싱하는 거 말고는 loc랑 똑같다(Integer location) <br>
df.iloc\[행,열\]

In [29]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [31]:
# 0에서부터 시작
df.iloc[0,0]

10

In [32]:
작

NameError: name '작' is not defined

In [38]:
# 여기에는 끝자리 2가 포함이 안됨
""" 이걸 외우는게 아니라 header에서 몇개만 해보면 알지 """
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int32