In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {
    "2015":[9904312, 3448737, 2890451, 2466052],
    "2010":[9631482, 3393191, 2632035, 2431774],
    "2005":[9762546, 3512547, 2517680, 2456016],
    "2000":[9853972, 3655437, 2466338, 2473990],
    "지역":["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율":[0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ['지역','2000','2005','2010','2015','2010-2015 증가율']
# columns를 정해놓으면 내가 순서를 정하는 것이고,
# columns를 주지 않으면 딕셔너리 키값 순서대로 들어간다
index = ['서울','부산','인천','대구']
df = pd.DataFrame(data, columns = columns, index = index)
df

     지역     2000     2005     2010     2015  2010-2015 증가율
서울  수도권  9853972  9762546  9631482  9904312         0.0283
부산  경상권  3655437  3512547  3393191  3448737         0.0163
인천  수도권  2466338  2517680  2632035  2890451         0.0982
대구  경상권  2473990  2456016  2431774  2466052         0.0141

In [4]:
df.values

array([['수도권', 9853972, 9762546, 9631482, 9904312, 0.0283],
       ['경상권', 3655437, 3512547, 3393191, 3448737, 0.0163],
       ['수도권', 2466338, 2517680, 2632035, 2890451, 0.0982],
       ['경상권', 2473990, 2456016, 2431774, 2466052, 0.0141]], dtype=object)

In [6]:
df.columns

Index(['지역', '2000', '2005', '2010', '2015', '2010-2015 증가율'], dtype='object')