In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [20]:
url = "https://www.melon.com/chart/week/index.htm"
res = requests.get(url, headers = {'User-Agent':'Mozilla/5.0'})
raw = res.text
soup = BeautifulSoup(raw,'html.parser')

In [8]:
type(soup)

bs4.BeautifulSoup

In [18]:
date = soup.select_one('span.yyyymmdd')
date = date.text.strip('\n\t\r')
date

'2020.11.09 ~ 2020.11.15'

In [23]:
startday = date[:10]
endday = date[13:]
startday, endday

('2020.11.09', '2020.11.15')

In [72]:
service = soup.select_one('.service_list_song')
tbody = service.select_one('tbody')
trs = tbody.select('tr')
len(trs)

100

In [113]:
for i in [0,1,2,19]:
    entry = trs[i].select_one('.rank_wrap')
    spans = entry.find_all('span')
    # 신규 진입이면 2, 저번주에 있었으면 3
    if len(spans) == 3:
        print(spans[2].text)
        if diff != 0:
            # class태그의 값도 꺼내는군. 처음본다
            sign = spans[2].attrs['class']
            if sign[0] == 'down':
                diff *= -1
    else: 
        print('신규진입')

0
1
1
신규진입

In [152]:
print(trs[0].select('.ellipsis')[0].text)
print(trs[0].select('.ellipsis')[1].select_one('a').text)
print(trs[0].select('.ellipsis')[2].text)

Dynamite

방탄소년단

Dynamite (DayTime Version)

In [212]:
ranks = [] ; updowns = [] ; nums = [] ; titles = [] ; singers = [] ; albums = [] 

for tr in trs:
    rank = tr.select_one('span.rank').text
    # print(rank)
    updown = tr.select_one('.rank_wrap').text.strip('\n\t\r')[3:5]
    num = tr.select_one('.rank_wrap').text.strip('\n\t\r')[6:]

    
    title = tr.select('.ellipsis')[0].text.strip(' \n\t\r')
    singer = tr.select('.ellipsis')[1].select_one('a').text.strip(' \n\t\r')
    album = tr.select('.ellipsis')[2].text.strip(' \n\t\r')
    # cnt = tr.select_one('span.cnt > span')
    # 이거 왜 숫자가 안 들어오지?
    # => 동적인가봐, beautifulsoup으로는 못가져와
    # 나중에 selenium에서 xmlpath로 가져와야 함

    ranks.append(rank)
    updowns.append(updown)
    nums.append(num)
    titles.append(title)
    singers.append(singer)
    albums.append(album)




    # print(title,singer,album,'\n',cnt)

In [238]:
top100 = pd.DataFrame({
    '순위': ranks,
    '전주대비': updowns,
    '변동': nums,
    '제목': titles,
    '가수': singers,
    '앨범': albums
})
top100.set_index('순위',inplace=True)
print(f'\t\t\t\t\t{startday} ~ {endday}')
top100

					2020.11.09 ~ 2020.11.15

    전주대비 변동                     제목              가수                          앨범
순위
1     동일  0               Dynamite           방탄소년단  Dynamite (DayTime Version)
2     상승  1           힘든 건 사랑이 아니다             임창정                힘든 건 사랑이 아니다
3     하락  1         Lovesick Girls       BLACKPINK                   THE ALBUM
4     상승  1  취기를 빌려 (취향저격 그녀 X 산들)              산들       취기를 빌려 (취향저격 그녀 X 산들)
5     하락  1         DON'T TOUCH ME           환불원정대              DON'T TOUCH ME
..   ... ..                    ...             ...                         ...
96    하락  4             화려하지 않은 고백    규현 (KYUHYUN)        슬기로운 의사생활 OST Part 4
97    진입                      MAGO  여자친구 (GFRIEND)           回:Walpurgis Night
98    하락  3                   행복하니     케이시 (Kassy)                       추(秋)억
99    진입       My Love (Duet Ver.)             이승철                         이승철
100   진입     너의 하루 (바른연애 길잡이 X 로꼬)              로꼬       너의 하루 (바른연애 길잡이 X 로꼬)

[100 rows x 5 columns]

In [228]:
fluctuation = top100.pivot('제목','전주대비','변동')
fluctuation

전주대비                       동일   상승   진입   하락
제목
12:45 (Stripped)          NaN  NaN  NaN    1
2002                        0  NaN  NaN  NaN
AYA                       NaN   28  NaN  NaN
Bad Boy                   NaN  NaN  NaN    2
Blueming                  NaN  NaN  NaN    2
...                       ...  ...  ...  ...
행복해                       NaN    8  NaN  NaN
홀로                        NaN  NaN  NaN    2
화려하지 않은 고백                NaN  NaN  NaN    4
흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야  NaN    4  NaN  NaN
힘든 건 사랑이 아니다              NaN    1  NaN  NaN

[100 rows x 4 columns]

In [229]:
fluctuation['동일'][0]

nan

In [230]:
import numpy as np
fluctuation[fluctuation['동일'].notnull()][['동일']]

전주대비                      동일
제목
2002                       0
Dolphin                    0
Dynamite                   0
How You Like That          0
너를 만나                      0
늦은 밤 너의 집 앞 골목길에서          0
봄날                         0
사랑이란 멜로는 없어                0
시든 꽃에 물을 주듯                0
아무노래                       0
안녕                         0
어떻게 이별까지 사랑하겠어, 널 사랑하는 거지  0
오래된 노래                     0
우리 왜 헤어져야 해                0
잠이 오질 않네요                  0
첫 줄                        0

In [245]:
up = fluctuation[fluctuation['상승'].notnull()][['상승']]
up.sort_values(by='상승', ascending = False)

전주대비                                      상승
제목
도망가                                        8
행복해                                        8
별을 담은 시 (Ode To The Stars)                 7
HIP                                        4
흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야                   4
나랑 같이 걸을래 (바른연애 길잡이 X 적재)                  4
이제 나만 믿어요                                  3
METEOR                                     3
딩가딩가 (Dingga)                              3
Dancing Cartoon                            3
축하해 (Prod. By VAN.C)                       3
AYA                                       28
I CAN’T STOP ME                            2
사실 나는 (Feat.전건호)                          18
소확행                                       10
에잇(Prod.&Feat. SUGA of BTS)                1
오늘도 빛나는 너에게 (To You My Light) (Feat.이라온)   1
서면역에서                                      1
취기를 빌려 (취향저격 그녀 X 산들)                      1
모든 날, 모든 순간 (Every day, Every Moment)      1
거짓말이라도 해서 널 보고싶어                           1
힘든 건 사랑이 아니다                               1

In [232]:
fluctuation[fluctuation['하락'].notnull()][['하락']]

전주대비                                          하락
제목
12:45 (Stripped)                               1
Bad Boy                                        2
Blueming                                       2
DON'T TOUCH ME                                 1
Dance Monkey                                   2
Don't Start Now                                3
Downtown Baby                                  3
Ice Cream (with Selena Gomez)                  8
Into the I-LAND                                4
Love poem                                      4
Lovesick Girls                                 1
Maniac                                         5
Memories                                       1
Not Shy                                       11
ON                                             7
Painkiller                                     3
Paris In The Rain                              5
Pretty Savage                                  1
Psycho                                         4
Savage Love (Laxed - Siren Beat) (BTS Remix)   1
Stuck with U                                   2
Summer Hate (Feat. 비)                          7
When We Disco (Duet with 선미)                   1
bad guy                                        3
가을 타나 봐                                        8
그때 그 아인                                        4
나비와 고양이 (feat.백현 (BAEKHYUN))                   4
내 마음이 움찔했던 순간 (취향저격 그녀 X 규현)                   1
너도 아는                                          3
너의 곁에만 맴돌아                                    16
놓아줘 (with 태연)                                  5
눈누난나 (NUNU NANA)                               1
다시 여기 바닷가                                      6
덤디덤디 (DUMDi DUMDi)                             1
마리아 (Maria)                                    1
마음을 드려요                                        1
반만                                             2
밤새 (취향저격 그녀 X 카더가든)                            3
밤하늘의 저 별처럼                                     4
보라빛 밤 (pporappippam)                           9
사랑 못해, 남들 쉽게 다 하는 거                            1
사랑은 지날수록 더욱 선명하게 남아                            2
사랑하게 될 줄 알았어                                   4
사랑하고 싶지 않아 (바른연애 길잡이 X XIA (준수))               4
살짝 설렜어 (Nonstop)                               2
시작                                             2
아로하                                            2
어떻게 지내 (Prod. By VAN.C)                        1
작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)      1
잠이 들어야 (Feat. 헤이즈)                            11
좋은 사람 있으면 소개시켜줘                                6
처음처럼                                           1
취했나봐                                           3
하루도 그대를 사랑하지 않은 적이 없었다                         3
행복하니                                           3
홀로                                             2
화려하지 않은 고백                                     4

In [233]:
fluctuation[fluctuation['진입'].notnull()][['진입']]

전주대비                  진입
제목
MAGO
My Love (Duet Ver.)
가을밤에 든 생각
너의 하루 (바른연애 길잡이 X 로꼬)
니 이름 불렀나 봐