In [21]:
import pandas as pd
import numpy as np

In [22]:
book = pd.read_csv('book.csv',sep=',',encoding='utf8')
book.head()

,Unnamed: 0,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","32,000원","32,000원(0% off)",960점 (3%),번역서,윤인성,2020-11-10,756 쪽,NaN,9791156645061,4506
1,0,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,"28,000원","28,000원(0% off)",840점 (3%),집필서,NaN,2020-09-28,536 쪽,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,0,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","45,000원","45,000원(0% off)","1,350점 (3%)",번역서,윤인성,2020-08-31,1192 쪽,NaN,9791156645030,4503
3,0,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,"38,000원","38,000원(0% off)","1,140점 (3%)",번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560 쪽,NaN,9791156644972,4497
4,0,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡","29,000원","29,000원(0% off)",870점 (3%),집필서,NaN,2020-07-30,600 쪽,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [23]:
""" 이상한 열이 껴있음 """
book.columns

Index(['Unnamed: 0', '제목', '판매여부', '저자', '원가', '판매가', '마일리지', '번역여부', '엮은이',
       '출간일', '페이지', '구판여부', 'ISBN', '물류코드'],
      dtype='object')

In [24]:
del book['Unnamed: 0']

In [25]:
book.head()

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","32,000원","32,000원(0% off)",960점 (3%),번역서,윤인성,2020-11-10,756 쪽,NaN,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,"28,000원","28,000원(0% off)",840점 (3%),집필서,NaN,2020-09-28,536 쪽,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","45,000원","45,000원(0% off)","1,350점 (3%)",번역서,윤인성,2020-08-31,1192 쪽,NaN,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,"38,000원","38,000원(0% off)","1,140점 (3%)",번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560 쪽,NaN,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡","29,000원","29,000원(0% off)",870점 (3%),집필서,NaN,2020-07-30,600 쪽,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [26]:
""" 원, 잠, (3%)등 필요 없는 글자 제거 """
book['원가'] = book.apply(lambda r: r['원가'][:-1], axis = 1)

In [27]:
book.head()

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","32,000","32,000원(0% off)",960점 (3%),번역서,윤인성,2020-11-10,756 쪽,NaN,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,"28,000","28,000원(0% off)",840점 (3%),집필서,NaN,2020-09-28,536 쪽,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","45,000","45,000원(0% off)","1,350점 (3%)",번역서,윤인성,2020-08-31,1192 쪽,NaN,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,"38,000","38,000원(0% off)","1,140점 (3%)",번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560 쪽,NaN,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡","29,000","29,000원(0% off)",870점 (3%),집필서,NaN,2020-07-30,600 쪽,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [28]:
book['페이지'] = book.apply(lambda r: r['페이지'][:-1], axis = 1)

In [29]:
book.head()

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","32,000","32,000원(0% off)",960점 (3%),번역서,윤인성,2020-11-10,756,NaN,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,"28,000","28,000원(0% off)",840점 (3%),집필서,NaN,2020-09-28,536,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","45,000","45,000원(0% off)","1,350점 (3%)",번역서,윤인성,2020-08-31,1192,NaN,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,"38,000","38,000원(0% off)","1,140점 (3%)",번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,NaN,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡","29,000","29,000원(0% off)",870점 (3%),집필서,NaN,2020-07-30,600,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [30]:
book['판매가'] = book.apply(lambda r: r['판매가'].split('원')[0], axis = 1)
book.head()

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","32,000","32,000",960점 (3%),번역서,윤인성,2020-11-10,756,NaN,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,"28,000","28,000",840점 (3%),집필서,NaN,2020-09-28,536,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","45,000","45,000","1,350점 (3%)",번역서,윤인성,2020-08-31,1192,NaN,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,"38,000","38,000","1,140점 (3%)",번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,NaN,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡","29,000","29,000",870점 (3%),집필서,NaN,2020-07-30,600,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [31]:
book['마일리지'] = book.apply(lambda r: r['마일리지'].split('점')[0], axis = 1)
""" 파일리지 퍼센트를 살리려고 했으나, 이렇게 하기보다는 나중에 book['마일리지율'] = book.판매가 / book.마일리지 가 더 편할듯 """
# book['마일리지율'] = book.apply(lambda r: r['마일리지'].split('점')[1].split('()'), axis = 1)
book.head()

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","32,000","32,000",960,번역서,윤인성,2020-11-10,756,NaN,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,"28,000","28,000",840,집필서,NaN,2020-09-28,536,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","45,000","45,000","1,350",번역서,윤인성,2020-08-31,1192,NaN,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,"38,000","38,000","1,140",번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,NaN,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡","29,000","29,000",870,집필서,NaN,2020-07-30,600,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [32]:
""" 빈 공간 없애주기 """
book['저자'] = book.apply(lambda r: r['저자'].strip(), axis = 1)
book['엮은이'] = book.apply(lambda r: r['엮은이'].strip(), axis = 1)

In [33]:
book.head()

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","32,000","32,000",960,번역서,윤인성,2020-11-10,756,NaN,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,"28,000","28,000",840,집필서,NaN,2020-09-28,536,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg","45,000","45,000","1,350",번역서,윤인성,2020-08-31,1192,NaN,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,"38,000","38,000","1,140",번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,NaN,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡","29,000","29,000",870,집필서,NaN,2020-07-30,600,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [34]:
book.to_csv('bookThousand.csv',sep=',',encoding='utf-8')

In [35]:
# thousand=',' 옵션으로 천 단위 콤마 제거
bookRF = pd.read_csv('bookThousand.csv',sep=',',encoding='utf8',thousands=',')
bookRF.head()

,Unnamed: 0,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg",32000,32000,960,번역서,윤인성,2020-11-10,756,NaN,9791156645061,4506
1,1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,28000,28000,840,집필서,NaN,2020-09-28,536,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg",45000,45000,1350,번역서,윤인성,2020-08-31,1192,NaN,9791156645030,4503
3,3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,38000,38000,1140,번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,NaN,9791156644972,4497
4,4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡",29000,29000,870,집필서,NaN,2020-07-30,600,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502

In [36]:
""" 이상한 열이 다시 생김 """
bookRF.columns

Index(['Unnamed: 0', '제목', '판매여부', '저자', '원가', '판매가', '마일리지', '번역여부', '엮은이',
       '출간일', '페이지', '구판여부', 'ISBN', '물류코드'],
      dtype='object')

In [37]:
del bookRF['Unnamed: 0']

In [38]:
bookRF

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg",32000,32000,960,번역서,윤인성,2020-11-10,756,NaN,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,28000,28000,840,집필서,NaN,2020-09-28,536,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg",45000,45000,1350,번역서,윤인성,2020-08-31,1192,NaN,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,38000,38000,1140,번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,NaN,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡",29000,29000,870,집필서,NaN,2020-07-30,600,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,문제해결력을 키우는 이공계 글쓰기 : 발표와 토론까지,판매중,한성우,18000,18000,540,집필서,NaN,2013-02-28,396,NaN,9788998756024,4002
297,"진로개발과 직업세계 : 대학생과 청년층을 위한 진로, 취업지침서",판매중,"서일수 , 김도균 , 김지혜 , 이정배",20000,20000,600,집필서,NaN,2013-02-28,392,NaN,9788998756048,4004
298,Essential Calculus,판매중,James Stewart,36000,36000,1080,원서,NaN,2012-07-08,960,NaN,9781133492566,7999
299,"IT CookBook, 디지털 통신 시스템 : Digital Communicatio...",판매중,"정호영 , 임승각",25000,25000,750,집필서,NaN,2011-01-31,576,NaN,9788979147988,1798
300,"IT CookBook, 운영체제론 : Operating Systems, 3rd Ed",판매중,"하비 디텔 , 폴 디텔 , 데이빗 쇼픈스",32000,32000,960,번역서,송경희,2009-09-04,860,NaN,9788979146844,1684

In [39]:
# Nan값을 빈 공간으로 바꾸기
bookRF.fillna('', inplace=True)

In [40]:
bookRF

,제목,판매여부,저자,원가,판매가,마일리지,번역여부,엮은이,출간일,페이지,구판여부,ISBN,물류코드
0,포르잔 C++ 에센셜,판매중,"Behrouz A. Forouzan , Richard F. Gilberg",32000,32000,960,번역서,윤인성,2020-11-10,756,,9791156645061,4506
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",판매중,김지연,28000,28000,840,집필서,,2020-09-28,536,"이 도서는 <IT CookBook, 데이터베이스 기초와 실습",9791156645054,4505
2,포르잔 C++ 바이블,판매중,"Behrouz A. Forouzan , Richard F. Gilberg",45000,45000,1350,번역서,윤인성,2020-08-31,1192,,9791156645030,4503
3,딥러닝을 위한 선형대수학,판매중,Gilbert Strang,38000,38000,1140,번역서,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,,9791156644972,4497
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)",판매중,"박우창 , 남송휘 , 이현룡",29000,29000,870,집필서,,2020-07-30,600,"이 도서는 <IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습>의 개...",9791156645023,4502
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,문제해결력을 키우는 이공계 글쓰기 : 발표와 토론까지,판매중,한성우,18000,18000,540,집필서,,2013-02-28,396,,9788998756024,4002
297,"진로개발과 직업세계 : 대학생과 청년층을 위한 진로, 취업지침서",판매중,"서일수 , 김도균 , 김지혜 , 이정배",20000,20000,600,집필서,,2013-02-28,392,,9788998756048,4004
298,Essential Calculus,판매중,James Stewart,36000,36000,1080,원서,,2012-07-08,960,,9781133492566,7999
299,"IT CookBook, 디지털 통신 시스템 : Digital Communicatio...",판매중,"정호영 , 임승각",25000,25000,750,집필서,,2011-01-31,576,,9788979147988,1798
300,"IT CookBook, 운영체제론 : Operating Systems, 3rd Ed",판매중,"하비 디텔 , 폴 디텔 , 데이빗 쇼픈스",32000,32000,960,번역서,송경희,2009-09-04,860,,9788979146844,1684

In [41]:
bookRF.to_csv('bookFinal.csv',sep=',',encoding='utf-8')