In [2]:
import sqlite3
conn = sqlite3.connect('./test.db')
# cursor = 원하는 데이터베이스에 포인팅한다
cur = conn.cursor()
cur.execute('select * from test;')
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, '홍길동')
(2, '대조영')

In [3]:
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('select * from test;')
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, '홍길동')
(2, '대조영')

In [4]:
""" conn을 만들어 놓고 close를 프로그램 끝날때까지 안할것 """
conn = sqlite3.connect('./test.db')
cur = conn.cursor()

In [5]:
# 테이블 구조 바꾸기
sql = 'alter table test add column age integer;'
cur.execute(sql)

In [6]:
# 아직 반영이 안됨, 변경사항을 적용하고 싶으면
conn.commit()

### 데이터 추가

In [8]:
cur = conn.cursor()
sql = """insert into test(name,age) values('장보고',1000)"""
cur.execute(sql)
conn.commit()

In [9]:
writers = [('이우정',40),('김은숙',45)]
sql = """insert into test(name,age) values(?,?)"""
for writer in writers:
    cur.execute(sql, writer) 
    # NodeJs에서는 (sql, params = Array) 였는데
    # SQLite에서는 (sql, element = Tuple) 이다.
conn.commit() # sql문 작성이 끝나면 commit()

In [11]:
cur.execute(sql, ('김수현',60) )
conn.commit()

In [12]:
# writers를 list말고 2차원 tuple로 만들면?
writers = (
    ('노희정',30),
    ('송지나',35),
    ('임성한',40)
)
cur.executemany(sql, writers) # 2차원 튜플일 때
conn.commit()

### 데이터 조회

In [17]:
# 단건 조회
cur = conn.cursor()
select_sql = 'select * from test'
cur.execute(select_sql)
""" cur.execute로 메모리에 가져놓은 데이터를
하나씩 꺼내는 것 """ 
row = cur.fetchone()
print(row)

(1, '홍길동', 300)

In [18]:
# 여러건 조회
""" 앞에 꺼낸 것들은 이미 꺼냈으니 제외하고 """
rows = cur.fetchmany(3)
for row in rows:
    print(row)

(2, '대조영', 300)
(3, '장보고', 300)
(4, '이우정', 300)

In [19]:
# 모두 가져오기
rows = cur.fetchall()
for row in rows:
    print(row)

(5, '김은숙', 300)
(6, '김수현', 300)
(7, '김수현', 300)
(8, '노희정', 300)
(9, '송지나', 300)
(10, '임성한', 300)

In [20]:
# 모두 가져오기
cur = conn.cursor()
cur.execute(select_sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '홍길동', 300)
(2, '대조영', 300)
(3, '장보고', 300)
(4, '이우정', 300)
(5, '김은숙', 300)
(6, '김수현', 300)
(7, '김수현', 300)
(8, '노희정', 300)
(9, '송지나', 300)
(10, '임성한', 300)

In [ ]:
# 순회 조회
cur = conn.cursor()
cur.execute(select_sql)
""" cur에서 바로 꺼내오는 것 """
for row in cur:
    print(row)

### 필요한 컬럼만 조회(조건)

In [23]:
cur = conn.cursor()
cur.execute('select name, age from test order by name')
rows = cur.fetchall().
for row in rows:
    print(row)

('김수현', 300)
('김수현', 300)
('김은숙', 300)
('노희정', 300)
('대조영', 300)
('송지나', 300)
('이우정', 300)
('임성한', 300)
('장보고', 300)
('홍길동', 300)

In [28]:
# 연장자 3명
cur = conn.cursor()
""" order by에 첫번째 기준은 나이, 두번째 기준은 이름 처럼 기준 여러개 줄 수 있음 """
cur.execute('select * from test order by age desc, name limit 3')
rows = cur.fetchall()
for row in rows:
    print(row)

(6, '김수현', 300)
(7, '김수현', 300)
(5, '김은숙', 300)

In [40]:
# fetchone 도 다른 fetch 시리즈와 같게 결과가 tuple이다!
cur.execute('select count(*) from test')
count = cur.fetchone()
print(count, count[0])
# 이렇게 쓰기 싫다면 튜플 언패킹 사용 가능
# count, = cur.fetchone()

(10,) 10

TypeError: cannot unpack non-iterable NoneType object

In [39]:
cur.execute('select max(age),min(age),sum(age),avg(age) from test')
max_age,min_age,sum_age,avg_age = cur.fetchone()
max_age

300