In [5]:
import json
with open('mysql.json', 'r') as file:
    config_str = file.read()
config = json.loads(config_str)
config

{'host': 'localhost',
 'user': 'root',
 'password': 'hspass',
 'database': 'test',
 'port': 3306}

In [6]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

In [8]:
cur = conn.cursor()
sql = """ select uid, uname, date_format(regDate, '%Y-%m-%d') as regDate
from users """
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('admin', '관리자', '2020-10-15')
('Annie', '애니', '2020-10-15')
('archie', '아치', '2020-10-23')
('Britta', '브리타', '2020-10-15')
('Chidi', '치디', '2020-10-15')
('Ed', '에드', '2020-10-15')
('edwin', '에드윈', '2020-10-16')
('egirl', '이걸', '2020-10-23')
('Gnarl', '날', '2020-10-15')
('Isa', '이사', '2020-10-15')
('IsaIsa', '이사이사', '2020-10-23')
('James', '제임스', '2020-10-15')
('Japan', '일본', '2020-10-23')
('Josica', '조시카', '2020-10-15')
('kimbel', '킴벨', '2020-10-23')
('Kristen', '크리스틴', '2020-10-15')
('leed', '김말이', '2020-10-15')
('Martin', '마틴', '2020-10-15')
('Martina', '마티나', '2020-10-15')
('Mickey', '미키', '2020-10-15')
('nahman', '스타벅스', '2020-10-22')
('nice', '노이스', '2020-10-23')
('page', '페이지', '2020-10-22')
('Paul', '폴', '2020-10-15')
('Roman', '로만그리핀데이비스', '2020-10-23')
('Shaun', '션', '2020-10-15')

In [10]:
cur = conn.cursor(pymysql.cursors.DictCursor)
sql = """ select uid, uname, date_format(regDate, '%Y-%m-%d') as regDate
from users """
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

{'uid': 'admin', 'uname': '관리자', 'regDate': '2020-10-15'}
{'uid': 'Annie', 'uname': '애니', 'regDate': '2020-10-15'}
{'uid': 'archie', 'uname': '아치', 'regDate': '2020-10-23'}
{'uid': 'Britta', 'uname': '브리타', 'regDate': '2020-10-15'}
{'uid': 'Chidi', 'uname': '치디', 'regDate': '2020-10-15'}
{'uid': 'Ed', 'uname': '에드', 'regDate': '2020-10-15'}
{'uid': 'edwin', 'uname': '에드윈', 'regDate': '2020-10-16'}
{'uid': 'egirl', 'uname': '이걸', 'regDate': '2020-10-23'}
{'uid': 'Gnarl', 'uname': '날', 'regDate': '2020-10-15'}
{'uid': 'Isa', 'uname': '이사', 'regDate': '2020-10-15'}
{'uid': 'IsaIsa', 'uname': '이사이사', 'regDate': '2020-10-23'}
{'uid': 'James', 'uname': '제임스', 'regDate': '2020-10-15'}
{'uid': 'Japan', 'uname': '일본', 'regDate': '2020-10-23'}
{'uid': 'Josica', 'uname': '조시카', 'regDate': '2020-10-15'}
{'uid': 'kimbel', 'uname': '킴벨', 'regDate': '2020-10-23'}
{'uid': 'Kristen', 'uname': '크리스틴', 'regDate': '2020-10-15'}
{'uid': 'leed', 'uname': '김말이', 'regDate': '2020-10-15'}
{'uid': 'Martin', 'uname': '마틴', 'regDate': '2020-10-15'}
{'uid': 'Martina', 'uname': '마티나', 'regDate': '2020-10-15'}
{'uid': 'Mickey', 'uname': '미키', 'regDate': '2020-10-15'}
{'uid': 'nahman', 'uname': '스타벅스', 'regDate': '2020-10-22'}
{'uid': 'nice', 'uname': '노이스', 'regDate': '2020-10-23'}
{'uid': 'page', 'uname': '페이지', 'regDate': '2020-10-22'}
{'uid': 'Paul', 'uname': '폴', 'regDate': '2020-10-15'}
{'uid': 'Roman', 'uname': '로만그리핀데이비스', 'regDate': '2020-10-23'}
{'uid': 'Shaun', 'uname': '션', 'regDate': '2020-10-15'}

In [11]:
import pandas as pd
df = pd.DataFrame(rows)
df

        uid      uname     regDate
0     admin        관리자  2020-10-15
1     Annie         애니  2020-10-15
2    archie         아치  2020-10-23
3    Britta        브리타  2020-10-15
4     Chidi         치디  2020-10-15
5        Ed         에드  2020-10-15
6     edwin        에드윈  2020-10-16
7     egirl         이걸  2020-10-23
8     Gnarl          날  2020-10-15
9       Isa         이사  2020-10-15
10   IsaIsa       이사이사  2020-10-23
11    James        제임스  2020-10-15
12    Japan         일본  2020-10-23
13   Josica        조시카  2020-10-15
14   kimbel         킴벨  2020-10-23
15  Kristen       크리스틴  2020-10-15
16     leed        김말이  2020-10-15
17   Martin         마틴  2020-10-15
18  Martina        마티나  2020-10-15
19   Mickey         미키  2020-10-15
20   nahman       스타벅스  2020-10-22
21     nice        노이스  2020-10-23
22     page        페이지  2020-10-22
23     Paul          폴  2020-10-15
24    Roman  로만그리핀데이비스  2020-10-23
25    Shaun          션  2020-10-15

In [13]:
sql = """SELECT b.bid, b.uid, u.uname, b.title, b.viewCount, b.replyCount,
                DATE_FORMAT(b.modTime, '%Y-%m-%d %T') AS modTime
                FROM bbs AS b
                JOIN users AS u
                ON b.uid=u.uid
                ORDER BY b.bid DESC;"""
cur.execute(sql)
rows = cur.fetchall()
df2 = pd.DataFrame(rows)
df2

,bid,uid,uname,title,viewCount,replyCount,modTime
0,1126,admin,관리자,노래제목,3,0,2020-10-28 16:57:12
1,1125,Martina,마티나,"Oh, you will find Tahani certified very soon",10,0,2020-10-27 13:24:55
2,1124,Josica,조시카,"Oh, you will find Tahani certified very soon",4,0,2020-10-27 13:24:55
3,1123,Britta,브리타,He was my best mate growing up!,2,0,2020-10-27 13:24:55
4,1122,Mickey,미키,형은 31살처럼 살지 않아,1,0,2020-10-27 13:24:55
...,...,...,...,...,...,...,...
111,1005,James,제임스,형은 31살처럼 살지 않아,11,1,2020-10-15 10:40:41
112,1004,Paul,폴,내가 유럽에서 몇 명의 폴을 만났을까,13,1,2020-10-15 10:40:41
113,1003,Martin,마틴,내가 성공해서 네덜란드 갈게!,13,1,2020-10-15 10:40:41
114,1002,Isa,이사,한국 빨리 와라,11,1,2020-10-15 10:40:41
115,1001,admin,관리자,제목찾기,59,17,2020-10-15 10:40:41

In [20]:
conn.commit()

- 파라미터 받기

In [21]:
# %s로 받는다.
# sql문 안에 이미 %가 있으면 앞에 %하나 더 붙여주면 됨
sql = """SELECT b.bid, b.uid, u.uname, b.title, b.content, 
                DATE_FORMAT(b.modTime, '%%Y-%%m-%%d %%T') AS modTime, 
                b.viewCount, b.replyCount
                FROM bbs AS b
                JOIN users AS u
                ON b.uid=u.uid
                WHERE b.bid=%s;"""
cur.execute(sql, (1006,))
row = cur.fetchone()
print(row)

{'bid': 1006, 'uid': 'Ed', 'uname': '에드', 'title': 'He was my best mate growing up!', 'content': 'Mate! What the fuck!', 'modTime': '2020-10-15 10:40:41', 'viewCount': 13, 'replyCount': 1}